<div
  style='
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  '
>
  <h3 style='font-weight: bold'>Halo {{username}},</h3>
  <p>
    Selamat datang di MFlow! Akun Anda telah berhasil dibuat. Berikut adalah
    informasi password login Anda:
  </p>

  <div
    style='
      background: #fff;
      padding: 15px;
      border-radius: 8px;
      border: 1px solid #ddd;
      text-align: center;
    '
  >
    <div>
      <span
        style='
          color: #990100;
          font-size: 18px;
          font-weight: bold;
          display: inline-block;
          padding: 5px 10px;
          border-radius: 5px;
          background: #f5e6e6;
        '
      >{{password}}</span>
    </div>
  </div>

  <p>Pastikan untuk merahasiakan informasi ini.</p>

  <p>
    Jika Anda mengalami kendala atau memiliki pertanyaan, jangan ragu untuk
    menghubungi tim IT kami.
  </p>

  <p style='font-weight: 600'>
    Salam hangat,
    <br />
    Klinik Pratama Millenium
  </p>
</div>